{% extends 'base.html' %}
{% load static %}
{% block isinya %}
<section id="form">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% for message in messages %}
                    {% if message %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endif %}
                {% endfor %}
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">Tambah</button>
                    <a href="/member" class="btn btn-danger">kembali</a>
                </form>
            </div>
        </div>
    </div>
    
</section>
{% endblock %}